
h1, h2, h3, h4, h5, h6, .title{
    font-family: 'Playfair Display', serif;
}

.login-background {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url('https://images.pexels.com/photos/3076899/pexels-photo-3076899.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

}

.navbar-try {
    display: flex;
    justify-content: space-between;
}

.home-nav {
    font-size: larger !important;
    margin-left: 10px;
}

.home-background {
    background-image: linear-gradient(rgba(78, 78, 78, 0.4), rgba(78, 78, 78, 0.4)), url('../images/home-background.jpg');
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px !important;
    padding: 0px !important;

}

.gift-background {
    background-image: linear-gradient(rgba(78, 78, 78, 0.4), rgba(78, 78, 78, 0.4)), url('https://images.pexels.com/photos/1005058/pexels-photo-1005058.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px !important;
    padding: 0px !important;

}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    flex-direction: column;
    height: 80vh;
    color: white;
    width: 50%;
    margin: auto;
}

.title {
    font-size: 55px;
}

.shop-btn {
    color: black;
    background-color: white;
    border: 1px white;
    padding: 10px 20px;
}

.green-btn {
    color: white;
    background-color: #5c9735;
    border: 1px white;
    padding: 10px 20px;
}

.container-fluid {
    margin: 0% !important;
    padding: 0% !important;
}
.star {
    font-size: 1.5rem;
    color: transparent;
    cursor: pointer;
    color: lightgrey;
}
.star:hover,
.star.selected {
    color: gold;
}
.products{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.plant{
    width: 30%;
}
.plant-img{
    width: 100%;
    object-fit: cover;
}
.line{
    width: 90px;
    border-bottom: #5c9735 solid 1px;
    align-self: center;
}
.customers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bi-quote{
    color: #5c973581 !important;
}
.person-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.opinion{
    margin: 10px;
}

.green-fill{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5c9735;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
}
.bi{
    color: white;
}
footer{
    background-color: #141a0f;
    color: white !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-nav{
    display: flex;
    justify-content: center !important;
}
.nav-link{
    color: white !important;
}
.address-input{
    height: 50px;
    width: 500px;
    margin-right: 10px;
}
.input-btn{
    display: flex;
}

hr{
    color: lightgray;
    width: 100%;
}
.plant-card{
    text-decoration: none;
    color: inherit;
}
a{
    text-decoration: none;
}
